.btn {
  border: 1px solid #ddd;
  padding: 4px 8px;
  color: $text-color;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  text-align: center;

  &:hover {
    border-color: $brand-color;
  }
}

.btn.large {
  padding: 8px 12px;
}

.btn.primary {
  background-color: $brand-color;
  color: #eee;
  border: 0;

  &:hover {
    background-color: darken($brand-color, 10%);
  }
}


.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 29px;
  vertical-align: middle;
  transition: 0.35s;
  font-family: Lato;
  font-size: 13px;
  font-weight: bold;
  color: #666666;
  letter-spacing: 0.3px;
  width: 150px;
  height: 70px;
  border-radius: 2px;
  background-color: #f8f8f8;
  border: solid 1px #dddddd;
}
.button:hover {
  border: solid 1px #297aea;
  color: #297aea;
}

.button:active {
  background-color: #f5f5f5;
  border: solid 1px #297aea;
  color: #297aea;
}